<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9irrDYoJJ6cp1h0qcJzRaZ3uuLarW2pw</string>
	<key>GCM_SENDER_ID</key>
	<string>270383005325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitcl</string>
	<key>PROJECT_ID</key>
	<string>vitcl-c1904</string>
	<key>STORAGE_BUCKET</key>
	<string>vitcl-c1904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270383005325:ios:6bdaf3df5982c3ee5aecc4</string>
</dict>
</plist>